{
  "extends": [
  "@react-native-community",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error"
  }
}
